<h3 *ngIf="!mobile">Popular TV Shows</h3>
<p *ngIf="mobile" style="font-size: 35px;color: white;margin-left: 45px; width: 250px;">Popular TV Shows</p>

<div *ngIf = "poptvdata">
    <!-- Mobile section  -->
    <ngb-carousel *ngIf="mobile"  [interval]=0 id="mobile">
        <ng-template ngbSlide  *ngFor="let imga of poptvdata">
            <div class="mm1">
                    <a routerLink="/watch/tv/{{imga.id}}"><img id="mobileimg" src="{{imga.poster_path}}"></a>
                    <div class="mobilename">  
                        <p style="color: white;font-size:12px">{{imga.name}}</p>
                    </div>
            </div>
        </ng-template>
    </ngb-carousel>

    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf="!mobile"  [interval]=0>
        <ng-template ngbSlide  *ngFor="let group of formatted">
            <div class="bb1">
                <div class="cc" style="display: inline-block;" *ngFor="let img of group">
                    <a routerLink="/watch/tv/{{img.id}}"><img class="" src="{{img.poster_path}}"></a>
                  
                    <div class="titlename">  
                        <p style="color: white;font-size:12px">{{img.name}}</p>
                    </div>   
                    
                </div>
            </div>
        </ng-template>
    </ngb-carousel>

</div>
